.header {
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 20px;
    text-align: center;
}

.flat-heading {
    white-space: nowrap;
}

ul li {
    display: list-item;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
